<div class="row">
    <div class="col-md-3">
        <app-sidebar-market></app-sidebar-market>
    </div>
    <div class="col-md-9">
        <form action="" #marketForm="ngForm" (ngSubmit)="addMarketPublication(marketForm)">
            <div class="form-group">
                <label>Categoría</label>
                <select class="form-control" name="category_id"
                        [disabled]="!categories"
                        [(ngModel)]="market.category_id">
                    <option value="">Seleccione...</option>
                    <option [value]="cat.id" *ngFor="let cat of categories">{{ cat.name }}</option>
                </select>
            </div>
            <div class="form-group form-row">
                <div class="col-md-6">
                    <label>Nombre del Producto</label>
                    <input type="text"
                           class="form-control" name="title" [(ngModel)]="market.title">
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Precio</label>
                        <input type="text"
                               [(ngModel)]="market.price"
                               class="form-control" name="price">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Descripción del Producto</label>
                <textarea class="form-control" name="description" rows="3" [(ngModel)]="market.description"></textarea>
            </div>
            <div class="form-group form-row">
                <div class="col-md-6">
                    <label>Foto del Producto</label>
                    <input type="file" class="form-control-file" name="image" id="image" (change)="previewImage($event)">
                    <img [src]="previewImgUrl" alt="" *ngIf="previewImgUrl" width="100px">
                </div>
                <div class="col-md-6">
                    <label for="dir">Ubicación/Dirección</label>
                    <input type="text" name="dir" id="dir"
                           [(ngModel)]="market.dir"
                           class="form-control">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!categories">Publicar</button>
            </div>
        </form>
    </div>
</div>
