<div class="box" *ngIf="users && users.length > 0">
    <div class="box-header">
        <h6>Usuarios en linea</h6>
    </div>
    <div class="box-body">
        <ul class="online-users">
            <li *ngFor="let o of users" class="online-user">
                <img [src]="avatarUrl+o.avatar" width="40px">
                <div class="point-online"></div>
                <div>
                    <a [routerLink]="['/u', o.id]">{{ o.name}} {{ o.lastname}}</a>
                    <a [routerLink]="['/chat', o.id]" class="btn-message btn-init"><i class="fa fa-comment-dots"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>
