<div class="box">
    <div class="box-header py-1 header-face">
        <h6>Registro Facial</h6>
        <spiner [loader]="loader" [message]="message"></spiner>
        <button class="btn btn-primary" (click)="capturePhotos()"><i class="fa fa-play"></i> Iniciar Registro</button>
    </div>
    <div class="card-body">
            <div class="face-video">
                <video id="video"></video>
                <canvas id="canvas" style="display: none;"></canvas>
            </div>
    </div>
</div>
