
<div class="box">
    <div class="box-header liner-title">
        <h5>Recuperar contraseña</h5>
    </div>
    <div class="box-body">
        <form #resetPassworForm="ngForm" (ngSubmit)="sendResetPassword(resetPassworForm)">
            <div class="form-group">
                <label for="email">Ingrese su email</label>
                <input type="email" class="form-control" name="email" id="email"
                       [(ngModel)]="mail"
                       aria-describedby="emailHelpId" placeholder="Su correo">
                <small id="emailHelpId" class="form-text text-muted">Enviaremos un correo a su email con la información
                necesaria para recuperar su contraseña</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar correo</button>
            </div>
        </form>
    </div>
    <div class="box-footer login-links"><a routerLink="/login">Iniciar Sesión</a></div>
</div>
