.sidebar-menu {
    list-style: none;
    display: flex;
    padding: 1rem 0;
    text-align: center;   
    @include desktop {
        padding: 0 0 0 2rem;
    } 
    li {        
        a {
            display: block;      
            border-radius: 7px;      
            margin: 0 .5rem;
            color: darken($primary, 10);
            i {
                color: rgba($primary, .6);
            }
            &:hover {
                text-decoration: none;
                background: darken(#edeef0, 5);
            }
        }
    }
    @include tablet {
        flex-direction: column;
        li {
            text-align: initial;
            a {
                margin: .5rem 0;
                padding: .3rem .5rem;
                i {
                    margin-right: .5rem;
                }
            }
        }
    }

}
// boxes
.box {
    min-height: 30px;
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-bottom: 1rem;
    .box-body {
        padding: 13px 20px 12px;
    }
    .box-header {
        padding: 13px 20px 12px;
        display: flex;
        justify-content: space-between;
        &.liner {
            border-bottom: 1px solid #e7e8ec;
        }
        &.liner-title {
            border-bottom: 1.25px solid darken($primary, 5);
        }
    }
    .box-footer {
        background: #fafbfc;
        border-top: 1px solid #e7e8ec;
        padding: 13px 20px 12px;
        min-height: 15px;
        border-radius: 0 0 4px 4px;
    }
}

// publication form

.publicatiom-form {
    display: flex;
    textarea {
        width: 100%;
        border: none;
        margin-left: 1rem;
        font-size: 1.2em;
        border-bottom: 1px solid transparent;
        &:active, &:focus, &:hover {
            outline: none;
            border-bottom: 1px solid rgba($primary, .4);
        }
        &::placeholder {
            color: darken($primary, 10);
        }
    }
}

// publication user
.publicaction-user {
    display: flex;
    > div {
        display: flex;        
        flex-direction: column;
        line-height: 20px;
        a {
            text-decoration: none;
            color: darken($primary, 10);
            
        }
    }
}

// reactions
.reaction-main {
    margin-bottom: 1rem;
}
.reactions-content {
    background: white;
    padding: 13px 20px 12px;
    border: 1px solid #e7e8ec;
}
.comment-component {
    background: white;
}
.reactions {
    button {
        margin-right: 1rem;
    }
}

// online
.online-user {
    position: relative;
    .point-online {
        position: absolute;
        left: 27px;
        bottom: 2px;
        width: 10px !important;
        height: 10px !important;
        background: green;
        border-radius: 50%;
    }
    div { 
        a {
            text-decoration: none;
            color: darken($primary, 12);
        }
    }
    
}

.info-follower {
    margin-bottom: 1rem;
    text-align: center;
    a {
        text-decoration: none;
        color: $primary;
        font-weight: bold;
    }
}

//@include
.nav-link.active {
    border: none !important;
    border-bottom: 1.5px solid $primary !important;
}


// chat
.search-chat-user {
    width: 100%;
}
.user-chat-selected {
    a {
        &:hover {
            text-decoration: none;
        }
        color: darken($primary, 15);
    }
}

.user-chat.active {
    border-right: 2.5px solid $primary;
    background: rgba($gris, .3);
    border-radius: 12px;
}


// spiner


.spiner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  } 
    .spiner {
      position: relative;
      width: 30px;
      height: 30px;
      animation: anim-spin 1s infinite ease;
    }
    
    .spiner:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-top: solid 3px $primary;
      border-right: solid 3px transparent;
      border-bottom: solid 3px $primary;
      border-left: solid 3px transparent;
      border-radius: 100%;  
    }
    
    @keyframes anim-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    
// login
.login-title {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: $primary;
}

// general
.btn-primary {
    background: darken($primary, 15) !important;
    border: none !important;
    &:hover {
        background: darken($primary, 10) !important;
    }
}

.btn-secondary {
    border: none !important;
}

.text-init {
    color: rgba($primary, .6);
}
.btn-init {
    border: none;
    background: none;
    color: rgba($primary, .6);
    &:hover {
        color: rgba($primary, .9);
        background: darken(#edeef0, 5);
    }
}

.form-control {
    border-radius: 15px !important;
    &:focus {
        border-color: $primary !important;
        box-shadow: 0 0 0 0.2rem rgba($primary,.25) !important;
    }
}
.login-links{
    a {
        color: darken($primary, 15) !important;
        font-weight: 500;
        &:hover {
            color: darken($primary, 20) !important;
            text-decoration: none !important;
        }
    }
}
