.title {
    text-align: center;
    background: gray;
}

.notify-point {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #da1a45;
    display: inline-block;
    margin-left: -2.5px;
}
