<div class="card">
    <div class="card-header">
        MarketPlace
    </div>
    <ul class="list-group list-group-flush mb-3">
        <li class="list-group-item" routerLinkActive="active"><a routerLink="/marketplace/all">Explorar</a></li>
        <li class="list-group-item" routerLinkActive="active"><a routerLink="/marketplace/buying">Compra</a></li>
        <li class="list-group-item" routerLinkActive="active"><a routerLink="/marketplace/selling">Venta</a></li>
        <li class="list-group-item" routerLinkActive="active"><a routerLink="/marketplace/saved">Articulos Guardados</a></li>
    </ul>
    <a routerLink="/marketplace/sell" class="btn btn-block btn-sm btn-primary">Vender Algo</a>
</div>
