
    <ul class="sidebar-menu">
        <li routerLinkActive="active"><a routerLink="/marketplace/all"><i class="fa fa-list-alt"></i> Explorar</a></li>
        <li routerLinkActive="active"><a routerLink="/marketplace/buying"><i class="fa fa-shopping-cart"></i> Compra</a></li>
        <li routerLinkActive="active"><a routerLink="/marketplace/selling"><i class="fa fa-shopping-bag"></i> Venta</a></li>
        <li routerLinkActive="active"><a routerLink="/marketplace/saved"><i class="fa fa-archive"></i> Articulos Guardados</a></li>
        <a routerLink="/marketplace/sell" class="btn btn-block btn-sm btn-primary mt-4">Vender Algo</a>
    </ul>
