.message-content {
  height: 100%;
  position: relative;
}
.card-body{
  overflow-y: auto;
  max-height: 351px;
  min-height: 351px;
}

.msg-date {
  font-size: 9px;
  margin-top: -1px;
  display: block;
  color: rgba(70, 78, 85, 0.75);
}
