body {
  background: #edeef0 !important; }

.navbar-content {
  background: #080b0e; }

.navbar {
  background: #2c3e50;
  padding: 0 1rem !important; }
  .navbar .logo img {
    width: 40px; }

.nav-item {
  text-align: center; }
  @media only screen and (min-width: 991.98px) {
    .nav-item {
      margin: 0 1rem; } }

.item-search {
  display: flex;
  justify-content: center;
  align-items: center; }

.txt-search {
  background: #1a252f;
  color: rgba(255, 255, 255, 0.73);
  padding: 0 1rem;
  border-radius: 12px; }
  .txt-search input {
    background: #1a252f;
    border: none;
    padding: .2rem .5rem;
    color: white; }
    .txt-search input:active, .txt-search input:focus {
      outline: none; }
    .txt-search input::placeholder {
      color: rgba(255, 255, 255, 0.73); }

.btn-user {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem; }
  .btn-user span {
    margin-right: 1rem; }
  @media only screen and (min-width: 575.98px) {
    .btn-user {
      margin-bottom: 0; } }
  .btn-user:hover {
    background: #233140; }

.sidebar-menu {
  list-style: none;
  display: flex;
  padding: 1rem 0;
  text-align: center; }
  @media only screen and (min-width: 991.98px) {
    .sidebar-menu {
      padding: 0 0 0 2rem; } }
  .sidebar-menu li a {
    display: block;
    border-radius: 7px;
    margin: 0 .5rem;
    color: #1a252f; }
    .sidebar-menu li a i {
      color: rgba(44, 62, 80, 0.6); }
    .sidebar-menu li a:hover, .sidebar-menu li a.active {
      text-decoration: none;
      background: #dfe1e4; }
  @media only screen and (min-width: 767.98px) {
    .sidebar-menu {
      flex-direction: column; }
      .sidebar-menu li {
        text-align: initial; }
        .sidebar-menu li a {
          margin: .5rem 0;
          padding: .3rem .5rem; }
          .sidebar-menu li a i {
            margin-right: .5rem; } }

.box {
  min-height: 30px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin-bottom: 1rem; }
  .box .box-body {
    padding: 13px 20px 12px; }
  .box .box-header {
    padding: 13px 20px 12px;
    display: flex;
    justify-content: space-between; }
    .box .box-header.liner {
      border-bottom: 1px solid #e7e8ec; }
    .box .box-header.liner-title {
      border-bottom: 1.25px solid #233140; }
  .box .box-footer {
    background: #fafbfc;
    border-top: 1px solid #e7e8ec;
    padding: 13px 20px 12px;
    min-height: 15px;
    border-radius: 0 0 4px 4px; }

.publicatiom-form {
  display: flex; }
  .publicatiom-form textarea {
    width: 100%;
    border: none;
    margin-left: 1rem;
    font-size: 1.2em;
    border-bottom: 1px solid transparent; }
    .publicatiom-form textarea:active, .publicatiom-form textarea:focus, .publicatiom-form textarea:hover {
      outline: none;
      border-bottom: 1px solid rgba(44, 62, 80, 0.4); }
    .publicatiom-form textarea::placeholder {
      color: #1a252f; }

.publicaction-user {
  display: flex; }
  .publicaction-user > div {
    display: flex;
    flex-direction: column;
    line-height: 20px; }
    .publicaction-user > div a {
      text-decoration: none;
      color: #1a252f; }

.reaction-main {
  margin-bottom: 1rem; }

.reactions-content {
  background: white;
  padding: 13px 20px 12px;
  border: 1px solid #e7e8ec; }

.comment-component {
  background: white; }

.reactions button {
  margin-right: 1rem; }

.online-user {
  position: relative; }
  .online-user .point-online {
    position: absolute;
    left: 27px;
    bottom: 2px;
    width: 10px !important;
    height: 10px !important;
    background: green;
    border-radius: 50%; }
  .online-user div a {
    text-decoration: none;
    color: #161f29; }

.info-follower {
  margin-bottom: 1rem;
  text-align: center; }
  .info-follower a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold; }

.nav-link.active {
  border: none !important;
  border-bottom: 1.5px solid #2c3e50 !important; }

.search-chat-user {
  width: 100%; }

.user-chat-selected a {
  color: #11181f; }
  .user-chat-selected a:hover {
    text-decoration: none; }

.user-chat.active {
  border-right: 2.5px solid #2c3e50;
  background: rgba(206, 206, 206, 0.3);
  border-radius: 12px; }

.spiner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.spiner {
  position: relative;
  width: 30px;
  height: 30px;
  animation: anim-spin 1s infinite ease; }

.spiner:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid 3px #2c3e50;
  border-right: solid 3px transparent;
  border-bottom: solid 3px #2c3e50;
  border-left: solid 3px transparent;
  border-radius: 100%; }

@keyframes anim-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.login-title {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #2c3e50; }

.btn-primary {
  background: #11181f !important;
  border: none !important; }
  .btn-primary:hover {
    background: #1a252f !important; }

.btn-secondary {
  border: none !important; }

.text-init {
  color: rgba(44, 62, 80, 0.6); }

.btn-init {
  border: none;
  background: none;
  color: rgba(44, 62, 80, 0.6); }
  .btn-init:hover {
    color: rgba(44, 62, 80, 0.9);
    background: #dfe1e4; }

.form-control {
  border-radius: 15px !important; }
  .form-control:focus {
    border-color: #2c3e50 !important;
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25) !important; }

.login-links a {
  color: #11181f !important;
  font-weight: 500; }
  .login-links a:hover {
    color: #080b0e !important;
    text-decoration: none !important; }

.online-users {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

.online-users li {
  display: flex;
  margin-bottom: 5px; }

.online-users li img {
  margin-right: 8px;
  border-radius: 50%; }

.online-users li a {
  font-size: .8em; }

.online-users li > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .online-users li > div .btn-send-message {
    padding: 2px 5px; }
    .online-users li > div .btn-send-message:hover {
      color: white;
      background: #2c3e50;
      border-radius: 7px; }

.market-detail a {
  color: #2c3e50; }
  .market-detail a:hover {
    text-decoration: none;
    color: #cecece; }

.categories {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  .categories li button {
    border: none;
    background: none; }
    .categories li button i {
      color: rgba(44, 62, 80, 0.6);
      margin-right: 1rem; }

.popup {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: #ffffff;
  border: 1px solid #edeef0;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 1px 3px 6px #0000004d; }

.popup-body a {
  color: #2c3e50; }
  .popup-body a:hover {
    text-decoration: none; }

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.popup-close {
  border: none;
  background: none;
  font-weight: bold; }
