<div class="row">
    <div class="col-md-3">
        <app-sidebar-market (viewCategory)="search($event)"></app-sidebar-market>
    </div>
    <div class="col-md-9 p-0">
        <!--    Buscador    -->

        <div class="mb-2">
            <form (ngSubmit)="search()">
                <div class="form-group">
                    <input type="search"
                           required
                           [(ngModel)]="querySearch"
                           class="form-control" name="search" id="search" placeholder="Buscar en MarketPlace">
                </div>
            </form>
        </div>

        <!--   Listado     -->
        <app-card-market type="market" style="width: 100%" [marketList]="marketList"></app-card-market>

        <spiner [loader]="loader"></spiner>

        <button class="btn btn-link btn-block" *ngIf="showMore && !loader" (click)="getAllMarkets()">Mostrar más</button>

        <div *ngIf="marketList.length <= 0 && !loader && querySearch">
            No hay resultados para su búsqueda
        </div>

        <div *ngIf="marketList.length <= 0 && !loader && !querySearch">
            No hay articulos disponibles
        </div>
    </div>
</div>
