<form class="box" #publicationForm="ngForm" (ngSubmit)="addPublication(publicationForm)" enctype="multipart/form-data">
    <div class="box-body">
        <div class="publicatiom-form">
            <a [routerLink]="['/u', auth.id]">        
                <img [src]="avatar+auth.avatar" class="rounded-circle" width="28px" height="28px">
            </a>
            <textarea name="text"
                        #text="ngModel"
                        [(ngModel)]="publication.text"
                        required
                        placeholder="¿Qué hay de nuevo?"
                        id="text" cols="30" rows="2"></textarea>
        </div>
        <div id="images" class="images mt-2">
            <img [src]="imgUrl" alt="" *ngIf="imgUrl" height="100px">
        </div>
    </div>
    <div class="box-footer d-flex justify-content-between align-items-center">
        <label class="input-file">
            <b class="text-init"><i class="fa fa-camera-retro"></i> Foto    </b>
            <input type="file"
                   name="image"
                   #image="ngModel"
                   (change)="previewImage($event)"
                   [(ngModel)]="publication.image"
                   accept='image/*'
                   class="fileInput" multiple>
        </label>
        <button class="btn btn-primary btn-sm" type="submit">Publicar</button>
    </div>
</form>
